@charset "utf-8";
/* CSS Document */
body{
	background-image: url('img/background.jpg');
	color: #000; 
	font-size: 87.5%; /*This way it will be more responsive */
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}
/*commment*/
a{
	text-decoration: none;
}

a:link, a:visited{
	color: #74AFAD;

}

a:hover, a:active{
	background-color: #74AFAD;
	color: #FFF;
}

.body{
	margin: 0 auto;
	width: 70%; /*to be responsive*/
	clear: both; /* the container won't have floating elements*/
}

.mainheader img{
	width: 100%;
	height: auto;
	margin: 2% 0; /*it won't stick to the top*/
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	margin-bottom: 5px;
	margin-top: 0px;
}

.mainheader nav{
	background-color: #74AFAD;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	
}

.mainheader nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.mainheader nav ul li{
	float: left;
	/*display: inline;*/
}

.mainheader nav ul li.signin{
	float: right;
	/*display: inline;*/
}

.mainheader nav a:link, .mainheader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #D9853B;
	color: #FFF;
	text-shadow: none;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
}

.mainheader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
}
.show-menu{
		padding: 10px 0;
		display: none;
	}
	input[type=checkbox]{
		display:none;
	}

.mainContent{
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	line-height: 25px; 
}

.content{
	width: 70%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
}

.topcontent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	padding: 3% 5%;
	margin-top: 2%;
}

.bottomcontent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	padding: 3% 5%;
	margin-top: 2%;
}

.form-content{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	padding: 3% 5%;
	margin-top: 2%;
	line-height:30px;
	border: none;
}

.contact{
	padding:25px;
	margin: 0;
	border: none;
}

fieldset{
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
	border: none;
}

#form_contact{
	width:100%;
	border:1px solid #CCC;
	margin:0 0 5px;
	padding:10px;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	resize: none;
}

#contact-submit:hover{
	background-color: #D9853B;
	color: #FFF;
	text-shadow: none;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	padding: 10px 25px;
	height: 40px;
}

#contact-submit{
	padding: 10px 25px;
	height: 40px;
	color: #FFF;
	background-color: #74AFAD;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	display: inline-block;
}
#cancel-button{
	padding: 10px 25px;
	height: 20px;
	color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	display: inline-block;
	background-color: transparent;
}
#cancel-button:hover{
	padding: 10px 25px;
	height: 20px;
	background-color: transparent;
}

textarea{
	font-family: Arial;
}
.top-sidebar{
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	margin-left: 3%;
	margin-bottom: 2%;
	margin-top: 2%;
	padding: 2% 3%;
}

.middle-sidebar{
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 2% 3%;
}

.bottom-sidebar{
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 2% 3%;
}

.mainFooter{
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px; /*for Mozilla*/
	-webkit-border-radius: 5px; /*for browsers based on webkit*/
	background-color: #74AFAD;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-bottom: 0px;
}

.mainFooter p{
	width: 92%;
	margin: 10px auto;
	color: #FFF;
	
}

#popupBoxOnePosition{
	top: 0; 
	left: 0; 
	position: fixed; 
	width: 100%; 
	height: 120%;
	background-color: rgba(0,0,0,0.7); 
	display: none;
}
#popupBoxTwoPosition{
	top: 0; 
	left: 0; 
	position: fixed; 
	width: 100%; 
	height: 120%;
	background-color: rgba(0,0,0,0.7); 
	display: none;
}
.popupBoxWrapper{
	width: 550px; 
	margin: 50px auto; 
	text-align: left;
}
.popupBoxContent{
	background-color: #FFF; 
	padding: 15px;
	text-align: center;
}
table, th {
    border: 1px solid #74AFAD;
}
table {
    width: 100%;
}
th {
    height: 50px;
    text-align: center;
}
td{
	height: 40px;
    vertical-align: center;
	text-align: center;
}
@media only screen and (min-width: 150px) and (max-width: 720px){
	.body{
		width: 90%; /*to be responsive*/
		font-size: 95%;
	}
	.mainheader img{
		width: 100%;
	}
	.mainheader nav{
		/*this will grow 6x*/
		/*height: 240px;*/
		margin: 0 auto;
		display:block;
		background-color: #74AFAD;
	}

	.mainheader nav ul{
		padding-left: 0;
		display: none;
		position: static;
		background-color: #74AFAD;
		
	}

	.mainheader nav ul li{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background-color: #74AFAD;
		
	}
	.mainheader nav ul li signin{
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	
	.mainheader nav a:link, .mainheader nav a:visited{
		padding: 10px 25px;
		height: 20px;
		display: block;
	}
	input[type=checkbox]:checked  ~ .menu{
    display: block;
	background-color: #74AFAD;
}
	.show-menu{
		display:block;
		clear:both;
		text-align:center;
		width:100%;
		color: #FFF; 
		background-color: #74AFAD;
	}
	nav ul {
		position: static;
		display: none;
	}
	
	.content{
		width: 100%;
		float: left;
		margin-top: 2%;
	}
	
	.topcontent{
		padding: 3% 5%;
		margin-top: 3%;
	}
	
	.bottomcontent{
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	
	.top-sidebar{
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
	
	.middle-sidebar{
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
	
	.bottom-sidebar{
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
	
	.mainFooter{
		width: 100%;
		height: 40px;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px; /*for Mozilla*/
		-webkit-border-radius: 5px; /*for browsers based on webkit*/
		background-color: #74AFAD;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	
	.mainFooter p{
		width: 92%;
		margin: 10px auto;
		color: #FFF;
	}
}
